html {
  min-height: 2476px;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  width: 1440px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.examples-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-header,
.main-navigation {
  line-height: 30px;
  font-weight: 500;

  background-color: #eeeeee;
}

.site-navigation,
.basket-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation {
  width: 100%;
  margin-left: 202px;
  margin-top: 26px;

  display: flex;
}

.main-page-header {
  /*min-height: 545px;*/
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header-logo {
  display: inline-block;
}

.main-header-logo img:hover {
  opacity: 0.8;
}

.main-header-logo img:focus {
  opacity: 0.3;
}

.main-navigation-wrapper {
  height: 115px;
  padding-top: 49px;

  display: flex;
  flex-direction: row;
}

.inner-page-header {
  height: 355px;
}

.inner-page-header h1 {
  margin: 0;
  padding-top: 76px;
  line-height: 55px;
  text-transform: none;
  font-weight: 500;
  font-size: 55px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-navigation {
  display: flex;
}

.site-navigation-current {
  border-bottom: 2px solid #fb565a;
}

.basket-navigation {
  width: 115px;
  margin-left: auto;
}

.site-navigation a,
.basket-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.basket-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.basket-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item {
  margin-right: 46px;
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.basket-navigation-item {
  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basket-navigation-item::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: auto;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center left;
}

.basket-navigation a {
  text-align: right;
}

.slider {
  position: relative;
  box-sizing: initial;
  background-color: #eeeeee;
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  min-height: 430px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-picture.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-picture2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-picture3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  padding-top: 76px;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-transform: none;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 40px;

  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

.slider-item-button {
  width: 240px;
  height: 50px;
}

.services {
  margin: 0 auto;
  margin-bottom: 80px;

  display: flex;
  flex-wrap: wrap;
}

.services-service {
  width: 300px;
  min-height: 347px;
  margin-right: 100px;
  margin-top: 80px;

  display: flex;
  flex-direction: column;
}

.services-service:nth-child(4n) {
  margin-right: 0;
}

.services-service img {
  margin-bottom: 26px;
  display: block;
}

.services-service p {
  margin: 0;
  width: 280px;

  color: #283136;
  text-transform: none;
}

.services-service h3 {
  margin: 0;
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.btn-services {
  width: 160px;
  height: 50px;
  margin-top: auto;
}

.services-service a {
  color: #ffffff;
  line-height: 18px;
  font-weight: 500;

  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border-radius: 3px;
  border: none;
}

.btn:focus {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.service-site img {
  background-color: #fb565a;
}

.btn-red {
  background-color: #fb565a;
}

.btn-red:hover {
  background-color: #e74246;
}

.btn-red:focus {
  background-color: #d7373b;
}

.service-apps img {
  background-color: #00ca74;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-green:focus {
  background-color: #00aa62;
}

.service-presentations img {
  background-color: #efc84a;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-yellow:focus {
  background-color: #e5a722;
}

.company-description-wrapper {
  margin-bottom: 50px;
  padding-top: 40px;

  display: flex;
  border-top: 2px solid #efefef;
}

.company-description {
  width: 650px;
}

.company-description b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-transform: none;
}

.company-description p {
  margin: 0;
  padding-top: 35px;

  color: #283136;
  text-transform: none;
}

.description-item:last-of-type {
  padding: 35px 0 38px;
}

.company-description h4 {
  margin: 0;

  font-weight: bold;
}

.services-list {
  margin-top: 24px;
  padding: 0;
}

.services-item {
  margin-bottom: 24px;

  text-transform: none;
  list-style: none;
  color: #283136;
}

.services-item:nth-child(2n) {
  margin-right: 0;
}

.services-item:before {
  content: "";
  display: inline-block;
  border-top: 2px solid #fb565a;
  width: 25px;
  height: 6px;
  margin-right: 12px;
}

.features {
  margin-left: auto;
  width: 360px;
}

.features img {
  margin-bottom: 36px;
  display: block;
}

.features-item td {
  padding-top: 45px;
  padding-left: 0;
  padding-right: 25px;
  padding-bottom: 28px;

  font-size: 45px;
  font-weight: bold;
}

.features-item span {
  font-size: 18px;
  font-weight: inherit;
  vertical-align: super;
}

.features-info {
  line-height: 18px;
  color: #283136;
  text-transform: none;
}

.clients-list {
  height: 185px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
}

.clients-list a {
  width: 258px;
  height: 100%;
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list a:last-child::after {
  border: none;
}

.clients-list a:hover {
  opacity: 1;
}

.clients-list a:focus {
  opacity: 0.1;
}

.client-delimitr {
  margin: 0 auto;
  width: 0;
  height: 52px;
  border-right: 2px solid #efefef;
}

.filters {
  width: 260px;
  min-height: 772px;
  margin-top: 55px;
}

.filters ul {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 45px;
  padding: 0;

  list-style: none;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.filter-option {
  position: relative;
  line-height: 20px;
  color: #283136;
  text-transform: none;

  margin-bottom: 16px;
}

.filter-option label {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.filter-input:disabled {
  opacity: 0.1;
}

.filter-option label:focus::before,
.filter-option label:hover::before,
.filter-option label:focus::after,
.filter-option label:hover::after {
  opacity: 1;
}

.filter-input + label::before,
.filter-input + label::after {
  content: "";
  display: inline-block;

  margin-right: 10px;

  opacity: 0.4;
}

.filter-input-radio + label::before {
  width: 25px;
  height: 25px;

  border-radius: 50%;
  border: 4px solid #000000;
}

.filter-input-radio:checked + label::after {
  position: absolute;
  left: 8px;

  width: 9px;
  height: 9px;

  border-radius: 50%;
  background-color: #000000;
}

.filter-input-checkbox + label::before {
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.company-address-list {
  position: absolute;
  top: 54px;
  left: 140px;

  width: 319px;
  min-height: 308px;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 47px;
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
  flex-direction: column;

  background-color: #ffffff;
}

.company-address-list .contact-us {
  padding: 16px 40px;

  background-color: #fb565a;
  height: 50px;
}

.company-address-list p {
  margin: 0;
}

.filter-button {
  color: #000000;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:focus {
  color: rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.filter button {
  padding: auto;

  width: 260px;
  height: 50px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
}

.filter legend {
  margin-bottom: 12px;
}

.filter-item {
  margin: 0;
  padding: 0;
}

.range-filter {
  margin-top: 36px;
}

.range-controls {
  position: relative;
  height: 81px;
  margin-bottom: 13px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.price-controls {
  font-size: 0;
  margin-bottom: 56px;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
}

.price-controls input {
  width: 80px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}


.sort-wrapper {
  display: flex;

  width: 760px;
  margin-top: 60px;

  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.sort-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 14px;
  line-height: 18px;
}

.sort-wrapper span {
  margin-right: 267px;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
}

.sort-list:last-child {
  margin-left: auto;
}

.sort-list li {
  opacity: 0.3;
}

.sort-type {
  margin-right: 26px;
}

.sort-type a {
  color: #000000;
}

li.active-sort {
  opacity: 1;
}

.sort-down {
  margin-right: 18px;
  transform: rotate(180deg);
}

.catalog-list {
  margin-top: 60px;
  margin-bottom: 0;
  padding: 0;
  width: 760px;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-item {
  position: absolute;
  bottom: 0;

  display: none;

  min-height: 231px;
  padding-top: 30px;
  padding-bottom: 43px;
  padding-left: 60px;
  padding-right: 60px;

  background-color: #eeeeee;
}

.price-item h3 {
  margin: 0;
  padding-bottom: 18px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.price-item p {
  margin: 0;

  color: #666666;
  text-transform: none;
  text-align: center;
}

.page-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.page-list a {
  width: 50px;
  height: 50px;
  margin-right: 11px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #eeeeee;
}

.page-list .page-btn-active {
  background-color: #ffffff;
  border: solid 3px #dbdbdb;
}

.page-next a {
  width: 260px;
}

.btn-price {
  width: 200px;
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 60px;

  display: block;

  background-color: #fb565a;
}

.btn-price:hover {
  background-color: #e74246;
}

.btn-price:focus {
  background-color: #d7373b;
}

.catalog-item {
  position: relative;

  width: 360px;
  margin-bottom: 33px;
}

.catalog-item::before {
  content: '';
  display: block;
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:hover .price-item {
  display: block;
}

.company-name {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.company-address {
  padding-bottom: 20px;
  padding-top: 24px;

  line-height: 18px;
  color: #666666;
  text-transform: none;
}

.company-tel {
  padding-bottom: 35px;

  line-height: 18px;
  color: #666666;
  text-transform: none;
}

.company-address-wrapper {
  position: relative;
  min-height: 416px;
  margin-top: 78px;

  display: flex;
}

.company-address-wrapper iframe {
  border: none;
}

.address-wrapper-inner {
  margin-top: 60px;
}

.contact-us:hover {
  background-color: #e74246;
}

.contact-us:focus {
  background-color: #d7373b;
}

.main-footer {
  min-height: 217px;

  display: flex;
}

.socials-list {
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
}

.main-footer-item {
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
  flex-direction: column;
}

.main-footer-item p {
  padding-bottom: 12px;
  text-transform: none;
}

.main-footer-item p:last-child {
  padding-bottom: 0;
}

.main-footer p {
  margin: 0;

  line-height: 22px;
  color: #444444;
}

.main-footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.socials-list {
  margin-right: 139px;
}

.social-button {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  margin-right: 12px;

  background-color: #e1e1e1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button:last-child {
  margin-right: 0px;
}

.social-button:hover, .social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active img {
  opacity: 0.3;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  display: none;
  position: fixed;

  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal h2 {
  margin: 0;
  padding-bottom: 43px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-transform: none;
}

.modal-contact {
  top: 20%;
  left: 50%;

  width: 960px;
  min-height: 590px;

  margin-left: -480px;
  padding: 70px 100px 84px;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 21px;
  height: 21px;

  font-size: 0;
  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  right: -3px;

  width: 27px;
  height: 3px;

  background-color: #fb565a;
  opacity: 0.6;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.contact-item label {
  display: block;
  margin-bottom: 10px;

  text-transform: none;
  font-weight: bold;
  line-height: 18px;
}

.contact-item input,
.contact-item textarea {
  font: inherit;

  background-color: transparent;
  border: 2px solid #d7dcde;
}

.contact-item input:hover,
.contact-item textarea:hover {
  border: 2px solid #b4b9bb;
}

.contact-item input:focus,
.contact-item textarea:focus {
  color: #444444;
  border: 2px solid #000000;
}

.contact-item input:invalid,
.contact-item textarea:invalid {
  color: #e74246;
  border: 2px solid #e74246;
  outline: none;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  padding: 13px 13px;

  color: rgba(68, 68, 68, 0.5);
  line-height: 18px;
  background-color: #ffffff;
}

.col-2 input[type="text"],
.col-2 input[type="email"] {
  width: 360px;
  margin-bottom: 37px;
}

.contact-item textarea {
  width: 760px;
  min-height: 118px;
  margin-bottom: 38px;
  padding-top: 6px;
  padding-left: 15px;

  resize: none;
}

.col-2 {
  display: flex;
  justify-content: space-between;

  width: 760px;
}

.btn-send {
  width: 260px;
  height: 50px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
